.nav {
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
  margin: auto;
  align-items: center;
}
.navitem > ul {
  list-style-type: none;
  display: flex;
  cursor: pointer;
}

.navitem > ul > li {
  margin: 10px;
}
.navitem > ul > li:hover {
  /* background-color: rgba(250, 60, 158, 0.375);
  color: white; */
}
