.bodycontainer {
  width: 90vw;
  margin: auto;
}
.img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.card {
  /* border: 1px solid black; */
  max-width: 300px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  /* margin: 30px; */
}

.card:hover {
  cursor: pointer;
  /* background-color: red; */
  border: 1px solid #d1cfcf;
}
.card > h3 {
  padding: 0;
  margin: 5px;
  font-size: 16px;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.text {
  margin: 5px;
  color: rgb(81, 81, 81);
  /* word-wrap: break-word; */
  font-size: 13px;
  /* max-width: 260px; */
}
.searchcontainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.searchcontainer .input {
  height: 20px;
  border-radius: 10px;
  padding: 10px;
  border-color: rgb(241, 120, 120);
  width: 1000px;
}
.searchcontainer .searchbtn {
  padding: 15px;
  background-color: rgb(202, 238, 226);
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
.cardFlex {
  display: flex;
  /* gap: 10pjucx; */
  justify-content: space-between;
  padding: 10px;
  margin: 2px;
  align-items: center;
}
.rating {
  background-color: green;
  color: white;
  padding: 10px;
}
.lite {
  color: rgb(111, 111, 111);
}
