.bodycontainer {
  width: 90vw;
  margin: auto;
}
.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.card {
  /* border: 1px solid black; */
  max-width: 300px;
  padding: 50px;
  border-radius: 10px;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
}
.text {
  /* text-overflow: wrap; */
  /* white-space: initial; */
  word-wrap: break-word;
  /* max-width: :''; */
  max-width: 250px;
}
