.content {
  width: 100vw;
  height: 35vh;
  background-color: rgb(3, 3, 48);
  color: white;
}
.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80vw;
  height: 100%;
}
.ratingcard {
  display: flex;
  justify-content: space-between;
}
.menucard {
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
.menuimg {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.cardContainer {
  display: flex;
}
